<div>
    <label>{{ getSelectedLang(property.property.labels) }}</label>
    <span *ngIf="isRequired" style="color: red">*</span>
    <ng-container [ngSwitch]="property.datatype">
        <div *ngSwitchCase="'http://www.w3.org/2001/XMLSchema#boolean'">
            <input type="radio" name="{{ propertyName }}" value="yes" (change)="handleInputChange('yes')" [required]="isRequired"/>
            <label>Yes</label>
            <input type="radio" name="{{ propertyName }}" value="no" (change)="handleInputChange('no')" [required]="isRequired"/>
            <label>No</label>
            <input type="radio" name="{{ propertyName }}" value="dontknow" (change)="handleInputChange('dontknow')" *ngIf="!isRequired"/>
            <label *ngIf="!isRequired">Dont Know</label>
        </div>
        <div *ngSwitchCase="'http://www.w3.org/2001/XMLSchema#string'">
            <input type="text" name="{{ propertyName }}" (input)="handleInputChange($event.target)" [required]="isRequired"/>
        </div>
        <div *ngSwitchCase="'http://www.w3.org/2001/XMLSchema#gMonthYear'">
            <input type="month" name="{{ propertyName }}" (input)="handleInputChange($event.target)" [required]="isRequired"/>
        </div>
        <div *ngSwitchDefault>
            <select *ngIf="property.values; else noCrit"  name="{{ propertyName }}" (change)="handleInputChange($event.target)" [multiple]="!(property.max === 1)" [required]="isRequired">
                <option *ngIf="property.max === 1" value="">Choose an option</option>
                <option *ngFor="let value of property.values" [value]="value.value">
                    {{ value.labels[lang] || value.labels.default }}
                </option>
            </select>
            <ng-template #noCrit>
                <input type="text" name={propertyName} onChange={handleInputChange} />
            </ng-template>
        </div>
    </ng-container>
</div>
