<div>
    <h2>Properties</h2>
    <!-- <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" formControlName="username" />
          </div>
          <div>
            <label for="email">Email:</label>
            <input type="text" id="email" formControlName="email" />
          </div>
          <div>
            <label for="password">Password:</label>
            <input type="password" id="password" formControlName="password" />
          </div>
          <div>
            <button type="submit" [disabled]="!myForm.valid">Submit</button>
          </div>
      {sortedProperties.map((property, index) => (
        <PropertyInput key={index} property={property} onPropertyChange={handlePropertyChange} language={language}/>
      ))}
      <button type="submit">Submit</button>
    </form> -->
  </div>